<div class="footer py-3">
    <div class="container">
        <h4 class="_text-primary h2">Info</h4>
        <p class="">Este es el proyecto final del programa #SeProgrmar, consta de un portafolio donde se puede ver información profesional ralacionada al propietario.</p>
        <div class="footer__copyright">
            <span class="text-center">Todos los derechos reservados ©</span>
        </div>
    </div>
</div>

<style>
    .footer {
        background-color: var(--primary);
        color: var(--text-primary)!important;
    }

    .footer p {
        font-size: 1.4em;
        max-width: 600px;
    }

    .footer__copyright {
        width: 100%;
        text-align: center;
        font-size: 1.1em;
    }
</style>