<app-modal
    [title]="title"
    [(hidden)]="hidden"
    (close)="onClose()"
    (open)="onOpen()"
>
    <form>
        <div>
            <app-input
                [(inputValue)]="currentData.name"
                label="Nombre"
                [info]="'Nombre de la tecnológia.'"
                [error]="errors.name.NotBlank || errors.name.Size"
            ></app-input>
            <app-input
                [(inputValue)]="currentData.percentage"
                label="Porcenataje"
                [info]="'Porcentage de habilidad.'"
                [error]="errors.percentage.NotBlank || errors.percentage.Range"
            ></app-input>
        </div>
        <div class="load mt-3">
            <img *ngIf="!!iconPreview" [src]="iconPreview" width="80px" />
            <img
                *ngIf="!!currentData.icon && !iconPreview"
                [src]="mediaUrl + '/' + currentData.icon"
                width="80px"
            />
            <app-file-upload-input
                (onSelectFile)="onSelectFile($event)"
                accept="image/*"
            >Seleccionar icono</app-file-upload-input>
            <p class="resolution">Porfavor utilizar imagenes vectoriales (SVG).</p>
        </div>
    </form>
    <div foot class="d-flex justify-content-end gap-2 mt-4">
        <app-btn (click)="onSubmit()" [type]="'submit'">Aceptar</app-btn>
        <app-btn (click)="onClose()" [danger]="true">Cancelar</app-btn>
    </div>
</app-modal>

<style>
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 2em;
    }

    .description-textarea {
        width: 100%;
    }

    .period {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 350px;
    }

    .resolution {
        color: var(--text-secondary);
    }

    .load {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
