<app-modal
    [title]="title"
    [(hidden)]="hidden"
    (close)="onClose()"
    (open)="onOpen()"
>
    <form>
        <app-input [(inputValue)]="currentData.company" label="Empresa" [minLen]="3" [maxLen]="10"></app-input>
        <app-input [(inputValue)]="currentData.job" label="Puesto"></app-input>
        <app-textarea [(inputValue)]="currentData.description" class="description-textarea" label="Description" width="100%"></app-textarea>
        <div class="period">
            <app-input [(inputValue)]="currentData.periodFrom" width="170px" label="Desde"></app-input>
            <app-input [(inputValue)]="currentData.periodAt" width="170px" label="Hasta"></app-input>
        </div>
    </form>
    <div foot class="d-flex justify-content-end gap-2">
        <app-btn (click)="onSubmit()" [type]="'submit'">Aceptar</app-btn>
        <app-btn (click)="onClose()"[danger]="true">Cancelar</app-btn>
    </div>
</app-modal>


<style>
    form {
        width: 720px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 .5em;
    }

    .description-textarea {
        width: 100%;
    }

    .period {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 350px;
    }
</style>