<nav>
    <div class="container">
        <img class="ap-logo" src="assets/ap_logo.png" alt="Logo Argentina programa">
        <div class="nav__left-side">
            <div class="social-media">
                <div class="social-media__item">
                    <fa-icon class="icon" [icon]="faFacebookF"></fa-icon>
                </div>
                <div class="social-media__item">
                    <fa-icon class="icon" [icon]="faLinkedin"></fa-icon>
                </div>    
                <div class="social-media__item">
                    <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
                </div>
            </div>
            <div *ngIf="authServ.isAutenticated(); then thenBlock" ></div>
            <ng-template #thenBlock>
                <app-btn (click)="logout()">Salir</app-btn>
            </ng-template>
        </div>
    </div>
</nav>