nav {
    width: 100%;
    position: fixed;
    z-index: 20;
    background: var(--primary);
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ap-logo {
    width: 120px;
}

.nav__left-side {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav__left-side .social-media {
    display: flex;
    gap: 1em;
    color: white;
}

.social-media__item {
    color: white;
}

.social-media__item > .icon {
    font-size: 2em;
    transition: color 200ms;
}

.social-media__item > .icon:hover {
    color: var(--secondary);
    cursor: pointer;
}