nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    position: absolute;
    z-index: 10;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 90%); 
}

.ap-logo {
    width: 120px;
}

.nav__left-side {
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav__left-side .social-media {
    display: flex;
    gap: 1em;
    color: #293462;
}

.social-media__item > .icon {
    font-size: 2em;
    transition: font-size 200ms ease;
}

.social-media__item > .icon:hover {
    font-size: 2.2em;
}