<app-modal
    [title]="title"
    [(hidden)]="hidden"
    (close)="onClose()"
    (open)="onOpen()"
    [loading]="loading"
>
    <form>
        <div class="inputs">
            <app-input
                [(inputValue)]="currentData.name"
                label="Instituto"
                [info]="'Nombre del instituto.'"
                [error]="errors.name.NotBlank || errors.name.Size"
            ></app-input>
            <app-input
                [(inputValue)]="currentData.career"
                label="Carrera/Nivel"
                [info]="'Carrera o nivel que estudiaste.'"
                [error]="errors.career.NotBlank || errors.career.Size"
            ></app-input>
            <app-textarea
                [(inputValue)]="currentData.description"
                class="description-textarea"
                label="Description"
                width="100%"
                [info]="
                    'Una descripción sobre tu estadia en este centro educativo.'
                "
                [error]="errors.description.NotBlank || errors.description.Size"
            ></app-textarea>
            <div class="period">
                <app-input
                    [(inputValue)]="currentData.periodFrom"
                    width="170px"
                    label="Desde"
                    [info]="'Fecha de inicio e.j. 2/2023'"
                    [error]="
                        errors.periodFrom.NotBlank || errors.periodFrom.Pattern
                    "
                ></app-input>
                <app-input
                    [(inputValue)]="currentData.periodAt"
                    width="170px"
                    label="Hasta"
                    [info]="'Fecha de fin e.j. 2/2023'"
                    [error]="
                        errors.periodAt.NotBlank || errors.periodAt.Pattern
                    "
                ></app-input>
            </div>
        </div>
        <div class="load mt-3">
            <img *ngIf="!!logoPreview" [src]="logoPreview" width="80px" />
            <img *ngIf="!!currentData.logo && !logoPreview" [src]="mediaUrl + '/' + currentData.logo" width="80px" />
            <app-file-upload-input
                (onSelectFile)="onSelectFile($event)"
                accept="image/*"
            >Seleccionar logo</app-file-upload-input>
        </div>
    </form>
    <div foot class="d-flex justify-content-end gap-2">
        <app-btn (click)="onSubmit()" [type]="'submit'">Aceptar</app-btn>
        <app-btn (click)="onClose()" [danger]="true">Cancelar</app-btn>
    </div>
</app-modal>

<style>
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 2em;
    }

    .description-textarea {
        width: 100%;
    }

    .period {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 350px;
    }

    .load {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
