<app-section-header title="Habilidades" float="center"></app-section-header>
<div class="container">
    <div class="skills mx-auto">
        <div class="skills__item" *ngFor="let skill of skills">        
            <circle-progress class="circle-progress"
            [percent]="skill.percentage"
            [radius]="81"
            [showSubtitle]="false"
            [outerStrokeWidth]="14"
            [outerStrokeColor]="'var(--primary)'"
            [outerStrokeLinecap]="'square'"
            [title]="skill.percentage.toString()"
            [titleFontSize]="'30'"
            [titleFontWeight]="'700'"
            [titleColor]="'#fff'"
            [innerStrokeWidth]="0"
            [unitsFontSize]="'18'"
            [unitsColor]="'#769FCD'"
            [animationDuration]="0"
            [style]="'user-select: none'"
            [backgroundColor]="'#082749'"
            [showImage]="true"
            [imageSrc]="'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/240px-Angular_full_color_logo.svg.png'"
            [imageHeight]="100"
            [imageWidth]="100"
            ></circle-progress>
            <span class="percentaje text-muted">{{ skill.percentage }}%</span>
            <p class="technology">{{ skill.name }}</p>
        </div>
    </div>
</div>

<style>
.skills {
    max-width: calc(600px + 9em);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    margin: 4em 0;
}


.skills__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills__item > .technology {
    font-size: 1.25em;
    text-align: center;
    font-weight: 500;
}
</style>