<app-section-header title="Habilidades" float="center"></app-section-header>
<!-- MODAL -->
<app-skill-modal
    [(hidden)]="hiddenSkillModal"
    (onNewSkill)="addSkill($event)"
    (onEditSkill)="editSkill($event)"
    [currentData]="targetSkill"
></app-skill-modal>
<!-- DELETE CONFIRM -->
<app-confirm
    [(hidden)]="hiddenDeleteSkillConfirm"
    [title]="'¿Desea eliminar ' + targetSkill.name + '?'"
    (onAcept)="deleteSkill()"
></app-confirm>
<div class="container d-flex flex-column mt-5">
    <app-btn *ngIf="isAutenticated" class="mx-auto" (click)="newSkill()"
        >AÑADIR</app-btn
    >
    <div class="skills mx-auto">
        <div
            *ngFor="let skill of skills; index as i"
            class="skills__item"
        >
            <circle-progress
                class="circle-progress circle-progress--admin"
                [percent]="skill.percentage"
                [radius]="81"
                [showSubtitle]="false"
                [outerStrokeWidth]="14"
                [outerStrokeColor]="'var(--primary)'"
                [outerStrokeLinecap]="'square'"
                [title]="skill.percentage.toString()"
                [titleFontSize]="'30'"
                [titleFontWeight]="'700'"
                [titleColor]="'#fff'"
                [innerStrokeWidth]="0"
                [unitsFontSize]="'18'"
                [unitsColor]="'#769FCD'"
                [animationDuration]="0"
                [style]="'user-select: none'"
                [backgroundColor]="'#082749'"
                [showImage]="true"
            ></circle-progress>
            <div class="_icon">
                <img [src]="mediaUrl + '/' + skill.icon ||
                'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/240px-Angular_full_color_logo.svg.png'">
            </div>
            <div *ngIf="isAutenticated" class="actions">
                <fa-icon
                    class="action"
                    [icon]="faPen"
                    (click)="onEditSkill(skill, i)"
                ></fa-icon>
                <fa-icon
                    class="action"
                    [icon]="faTrash"
                    (click)="onTryDeleteSkill(skill, i)"
                ></fa-icon>
            </div>
            <span class="percentaje text-muted">{{ skill.percentage }}%</span>
            <p class="technology">{{ skill.name }}</p>
        </div>
    </div>
</div>

<style>
    .skills {
        max-width: calc(600px + 9em);
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        align-items: center;
        justify-content: center;
        margin: 4em 0;
    }

    .skills__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills__item > .technology {
        font-size: 1.25em;
        text-align: center;
        font-weight: 500;
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        width: 186px;
        height: 186px;
        background-color: #00000080;
        position: absolute;
        left: 7px;
        top: 7px;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 200ms;
        z-index: 10;
    }

    .action {
        font-size: 1.5em;
        color: var(--primary);
        cursor: pointer;
    }

    .action:hover {
        font-size: 1.75em;
    }
    .actions:hover {
        opacity: 1;
    }

    ._icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        width: 186px;
        height: 186px;
        position: absolute;
        left: 7px;
        top: 7px;
        border-radius: 50%;
        transition: opacity 200ms;
    }

    ._icon > img {
        width: 70px;
    }
</style>
