<app-modal
    [title]="title"
    [(hidden)]="hidden"
    (close)="onClose()"
    (open)="onOpen()"
>
    <form>
        <div>
            <app-input
                [(inputValue)]="currentData.title"
                label="Titulo"
                [info]="'Titulo o nombre del proyecto.'"
                [error]="errors.title.NotBlank || errors.title.Size"
            ></app-input>
            <app-input
                [(inputValue)]="currentData.url"
                label="URL"
                [info]="'URL del sitio o repositorio del proyecto.'"
                [error]="
                    errors.url.NotBlank || errors.url.Pattern || errors.url.Size
                "
            ></app-input>
            <app-input
                [(inputValue)]="currentData.createdAt"
                label="Fecha de creación"
                [info]="'Fecha de publicación'"
                [error]="errors.createdAt.NotBlank || errors.createdAt.Pattern"
            ></app-input>
            <app-textarea
                [(inputValue)]="currentData.description"
                class="description-textarea"
                label="Description"
                width="100%"
                [info]="'Descripción general sobre el proyecto.'"
                [error]="errors.description.NotBlank || errors.description.Size"
            ></app-textarea>
        </div>
        <div class="load mt-3">
            <img *ngIf="!!imagePreview" [src]="imagePreview" width="250px" />
            <img *ngIf="!!currentData.image && !imagePreview" [src]="mediaUrl + '/' + currentData.image" width="250px" />
            <app-file-upload-input
                (onSelectFile)="onSelectFile($event)"
                accept="image/*"
            >Seleccionar imagen</app-file-upload-input>
        </div>
    </form>
    <div foot class="d-flex justify-content-end gap-2">
        <app-btn (click)="onSubmit()" [type]="'submit'">Aceptar</app-btn>
        <app-btn (click)="onClose()" [danger]="true">Cancelar</app-btn>
    </div>
</app-modal>

<style>
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0 2em;
    }

    .description-textarea {
        width: 100%;
    }

    .period {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 350px;
    }
</style>
