<div class="education-item">
    <div *ngIf="isAutenticated" class="actions">
        <fa-icon class="action" (click)="edit()" [icon]="faPen"></fa-icon>
        <fa-icon class="action" (click)="delete()" [icon]="faTrash"></fa-icon>
    </div>
    <div class="left-side text-end">
        <h3 class="fw-semibold fs-2">{{ data.name }}</h3>
        <span class="text-muted">{{ data.career }}</span>
        <p class="">{{ data.description }}</p>
        <span class="text-muted float-start">{{ data.periodFrom }} - {{ data.periodAt }}</span>
    </div>
    <div *ngIf="data.logo != null; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock>
        <img class="logo ms-5" [src]="mediaUrl + '/' + data.logo" alt="" srcset="" />
    </ng-template>
    <ng-template #elseBlock>
        <fa-icon
            [icon]="faGraduationCap"
            class="graduation-icon ms-5"
        ></fa-icon>
    </ng-template>
</div>

<style>
    .education-item {
        display: flex;
        position: relative;
        align-items: center;
        border: 1px solid var(--card-border-color);
        box-shadow: rgba(33, 150, 243, 0.3) 0px 0px,
            rgba(33, 150, 243, 0.3) 0px 0px, rgba(30, 136, 229, 0.4) 0px 0px,
            rgba(66, 165, 245, 0.2) 5px 5px, rgba(66, 165, 245, 0.2) 10px 10px,
            rgba(144, 202, 249, 0.05) 15px 15px;
        max-width: 900px;
        width: 900px;
        transition: 200ms box-shadow, 200ms transform;
        padding: 1em 2em;
    }

    .education-item:hover {
        box-shadow: rgba(33, 150, 243, 0.3) 5px 5px,
            rgba(33, 150, 243, 0.3) 10px 10px, rgba(30, 136, 229, 0.4) 15px 15px,
            rgba(66, 165, 245, 0.2) 20px 20px,
            rgba(100, 181, 246, 0.1) 25px 25px,
            rgba(144, 202, 249, 0.05) 30px 30px;
        transform: translateY(-15px) translateX(-15px);
    }

    .left-side {
        width: 100%;
    }

    .graduation-icon {
        font-size: 75px;
        opacity: 0.2;
        color: var(--header-text-color);
    }
    .logo {
        width: 150px;
    }

    .actions {
        display: flex;
        position: absolute;
        left: 10px;
        top: 10px;
        opacity: 0;
        transition: opacity 200ms;
    }

    .action {
        font-size: 1em;
        color: var(--card-border-color);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 200ms;
    }

    .action:hover {
        background-color: #ffffff20;
        cursor: pointer;
    }

    .education-item:hover > .actions {
        opacity: 1;
    }
</style>
